@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


body {
			font-family: 'Poppins', sans-serif;
			background: rgb(16,26,74);
			background: radial-gradient(circle, rgba(16,26,74,1) 0%, rgba(63,8,66,1) 100%);
			color: white;

}

a {

	text-decoration: none;
	color: #F7F7F2;
	background: linear-gradient(90deg, #FF8E72 0%, #55286F 100%);
	padding: 1vh;
	border-radius: 2vh;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#adminmain {
		justify-content: center;
		align-items: center;
		padding: 3vh;
}

#wrappermainadmin{
	display: flex;
}



#admintable {
		width: 80vh;
		align-items: center;
		padding: 3vh;
}

#userupdate {
	margin-left: 3vh;
}

#connbody {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3vh;
}

#connform {
	padding: 3vh;
}
#connform input {
	padding: 2vh;
}

#iscbody {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

}

table {
	table-layout: fixed;
	border-radius: 2vh;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table th {
	font-size: 1.2em;
	padding: 2vh;
}

table td{
	padding: 2vh;
	border-radius: 2vh;
	text-align: center;
	
}

h1 {
	padding: 2vh;
}
hr {
	color: white;
}

#tablediv {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: solid 1px white;
	border-radius: 2vh;
	background: linear-gradient(0deg, #FF8E72 0%, #55286F 100%);
	color:	#FF7F7F2 ;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#formdiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#noteform {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4vh;
}

#note {
		font-family: 'Poppins', sans-serif;
		font-size: 1.2em;
	border-radius: 2vh;
	color:whitesmoke ;
	background: rgb(16,26,74);
	background: radial-gradient(circle, rgba(16,26,74,1) 0%, rgba(63,8,66,1) 100%);
}

#wrapform {
	display: flex;
	justify-content: space-evenly;
}

input::placeholder {
  color: #55286F;
  opacity: 0.5;
}

form input{

	font-family: 'Poppins', sans-serif;
	padding: 1vh;
	border-radius: 4vh;
	font-size: 1em;
}

main {
	padding: 2vh;
}

.buttons1 {
	background: linear-gradient(0deg, #FF8E72 0%, #55286F 100%);
	border-radius: 2vh;
	border: 0px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	color: white;
}

header{
	padding: 2vh;
	color: #210B2C ;
	display: flex;
	justify-content: flex-end;
}